# /etc/systemd/system/FastLogCollectorLinuxClient.service
[Unit]
Description=Python Log Client Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/FastLogCollectorLinuxClient.py
WorkingDirectory=/root
User=root
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
